@font-face {
  font-family: "iconfont"; /* Project id 3236044 */
  src: url('iconfont.woff2?t=1646992840356') format('woff2'),
       url('iconfont.woff?t=1646992840356') format('woff'),
       url('iconfont.ttf?t=1646992840356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-juzhongduiqi:before {
  content: "\ec80";
}

.icon-youduiqi:before {
  content: "\ec82";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitiyanse:before {
  content: "\ec85";
}

.icon-zuoduiqi:before {
  content: "\ec86";
}

.icon-T-qingxie:before {
  content: "\e71e";
}

.icon-xiaduiqibottom:before {
  content: "\e611";
}

.icon-shangduiqitop:before {
  content: "\e612";
}

.icon-juzhongduiqimiddle:before {
  content: "\e613";
}

.icon-duohangwenben:before {
  content: "\e61c";
}

.icon-wenbenshuru:before {
  content: "\e600";
}

.icon-qianming:before {
  content: "\e69f";
}

.icon-gongzhanggaizhang:before {
  content: "\e67e";
}

.icon-calendar-v2-full:before {
  content: "\e9aa";
}

